<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <!-- 删除 MAGENTO 2.4 中的 FRAME-ANCESTORS 错误消息 https://www.cyberic.net/how-to-remove-the-frame-ancestors-error-message-in-magento-2-4/ -->
    <default>
        <csp>
            <policies>
                <storefront>
                    <frame-ancestors>
                        <inline>0</inline>
                    </frame-ancestors>
                </storefront>
                <admin>
                    <frame-ancestors>
                        <inline>0</inline>
                    </frame-ancestors>
                </admin>
            </policies>
        </csp>
    </default>
</config>